* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#html-content {
    opacity: 1;
    z-index: 1;
}

#main-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column
}

#header-presentation {
    background-color: #37517E;
}

#title {
    width: auto;
    height: 70px;
    margin-top: 30px;
    margin-left: 100px;
    color:white;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Playfair Display SC', serif;
}

#navigation-menu {
    width: 100%;
    height: 60;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: #2E4369;
    
}

.nav-item {
    text-align: center;
    width: 200px;
    text-decoration: none;
    padding-top: 15px;
    display: block;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

#main-footer {
    width: 100%;
    height: 150px;
    background-color: #37517E;
}

